* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.about__disabled {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

header {
  background-color: #e9e9e9;
  height: 670px;
}

header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px 0 100px;
}

header .header__container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .navbar #logo {
  width: 40px;
  height: 30px;
}

header .header__container .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__container .navbar__list__li {
  margin-right: 30px;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

header .header__container .navbar__list__li a {
  text-decoration: none;
  color: #191919;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

header .header__container .navbar__list__li a:hover {
  color: #10c9c3;
}

header .header__container .navbar__list__li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .header__container .navbar__burger {
  display: none;
}

header .header__container .navbar__burger span {
  display: block;
  position: relative;
  height: 2px;
  width: 25px;
  background: #000;
  margin: 5px 0;
}

header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 180px;
}

header .header__content__text h1 {
  font-size: 38px;
}

header .header__content__text p {
  padding: 40px 0 60px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #787878;
  line-height: 28px;
}

header .header__content__text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  background: #10c9c3;
  padding: 20px 40px;
  cursor: pointer;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}

header .header__content__text a:hover {
  background: #0fb3ad;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 100px;
}

.about__text p {
  padding: 40px 0 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #787878;
  line-height: 28px;
}

.about__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__skills__text {
  background-color: #f8f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 100px;
  width: 960px;
}

.about__skills__text #design {
  padding-bottom: 30px;
  width: 500px;
  border-bottom: 2px #d8d8d8 solid;
  z-index: 1;
}

.about__skills__text #design:after {
  display: block;
  position: absolute;
  margin-top: 30px;
  content: '';
  height: 2px;
  background-color: #10c9c3;
  width: 336px;
  z-index: 0;
}

.about__skills__text #web {
  padding-bottom: 30px;
  width: 500px;
  border-bottom: 2px #d8d8d8 solid;
  z-index: 1;
}

.about__skills__text #web:after {
  display: block;
  position: absolute;
  margin-top: 30px;
  content: '';
  height: 2px;
  background-color: #10c9c3;
  width: 428px;
  z-index: 0;
}

.about__skills__text #marketing {
  padding-bottom: 30px;
  width: 500px;
  border-bottom: 2px #d8d8d8 solid;
  z-index: 1;
}

.about__skills__text #marketing:after {
  display: block;
  position: absolute;
  margin-top: 30px;
  content: '';
  height: 2px;
  background-color: #10c9c3;
  width: 280px;
  z-index: 0;
}

.about__skills__text p {
  font-weight: 600;
  font-size: 14px;
  margin-top: 40px;
  text-transform: uppercase;
}

.about__skills__text p span {
  margin-left: 20px;
}

.about__skills__img {
  max-width: 960px;
  height: 570px;
}

.about__skills__img img {
  max-width: 960px;
  height: 570px;
}

.about__icons {
  height: 240px;
  background-color: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__icons__1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__icons__1__content {
  margin-left: 30px;
}

.about__icons__1__content p {
  font-weight: 600;
}

.about__images__content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__images__content__row__img {
  width: 450px;
  height: 350px;
  margin: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.about__images__content__row__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.about__images__load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #d8d8d8;
  height: 100px;
  text-transform: uppercase;
  font-weight: 600;
  color: #8e8e8e;
  font-size: 12px;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.about__images__load:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 930px;
}

.process__text {
  text-align: center;
}

.process__text p {
  padding: 40px 0 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #787878;
  line-height: 28px;
}

.process #vimeo {
  width: 1170px;
  height: 570px;
}

.services {
  background-color: #f5f5f5;
  height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px 0;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50%;
  text-align: center;
}

.services__content__block h4 {
  text-transform: uppercase;
  padding: 25px 0;
  font-size: 13px;
}

.services__content__block p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #787878;
  line-height: 28px;
}

.testimonials {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials__content {
  height: 500px;
  background: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.testimonials__content h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 35px;
}

.testimonials__content__item {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.testimonials__content__dots {
  text-align: center;
  margin-top: 110px;
}

.testimonials__content__dots .active {
  background-color: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.testimonials__content__dots__item {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.testimonials__content__dots__item:hover {
  background-color: white;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.testimonials__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  padding: 0 100px 0;
}

.contact {
  height: 750px;
  background-color: #f5f5f5;
  padding: 100px 0 100px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.contact__container p {
  padding: 40px 0 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #787878;
  line-height: 28px;
}

.contact__container__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 670px;
}

.contact__container__form form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__container__form form div input {
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  color: #787878;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 100px;
}

.contact__container__form form div input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(5, 133, 231, 0.2);
          box-shadow: 0px 0px 9px 4px rgba(5, 133, 231, 0.2);
}

.contact__container__form form input {
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  color: #787878;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 100px;
  margin-top: 30px;
}

.contact__container__form form input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(5, 133, 231, 0.2);
          box-shadow: 0px 0px 9px 4px rgba(5, 133, 231, 0.2);
}

.contact__container__form form #comment {
  padding-bottom: 140px;
}

.contact button {
  background-color: #10c9c3;
  padding: 20px 45px;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  color: #ffffff;
  font-size: 12px;
  border: none;
  margin-top: 30px;
}

.contact button:hover {
  background-color: #11b6b0;
  cursor: pointer;
}

.contact button:focus {
  outline: none;
}

footer {
  height: 285px;
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bcbcbc;
}

footer h4 {
  color: white;
}

footer a {
  text-decoration: none;
  color: #bcbcbc;
}

footer li {
  list-style: none;
  margin-top: 15px;
}

footer .footer__container {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__container__list ul {
  margin-right: 55px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 800px;
}

.modal img {
  position: absolute;
  z-index: 4000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 800px;
}

.modal .active__img {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal #close {
  position: relative;
  z-index: 5000;
  color: white;
  font-size: 40px;
  opacity: 50%;
  margin: 3%;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.modal #close:hover {
  color: #c2c2c2;
}

.active__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .about__skills__img {
    width: 700px;
  }
  .about__skills__img img {
    width: 700px;
  }
  .about__images__content__row {
    display: block;
    text-align: center;
  }
  .about__images__content__row__img {
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .about__skills__text {
    padding: 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__skills__img {
    display: none;
  }
  .about__images__content__row__img {
    width: 350px;
    height: 250px;
  }
  .about__icons__1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__icons__1 img {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header .header__container .navbar #logo {
    width: 30px;
    height: 25px;
  }
  header .header__container .navbar__list {
    display: none;
    left: 1000px;
    top: -20%;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #bcbcbc;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border-radius: 10px;
  }
  header .header__container .navbar__list li {
    padding-bottom: 20px;
    font-size: 20px;
  }
  header .header__container .navbar__burger {
    display: block;
    cursor: pointer;
  }
  header .header__container .navbar .active__burger {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  header .header__container .navbar .active__burger span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
  }
  header .header__container .navbar .active__burger span:nth-child(2) {
    opacity: 0;
  }
  header .header__container .navbar .active__burger span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
            transform: rotate(45deg) translate(-4px, -4px);
  }
  header .header__content {
    text-align: center;
  }
  .about__icons {
    padding: 0 50px;
  }
  .about__icons__1 {
    font-size: 14px;
  }
  .about__icons__1__content {
    margin-left: 15px;
  }
  .about__images__content__row__img {
    width: 450px;
    height: 300px;
  }
  .modal {
    width: 650px;
  }
  .modal img {
    width: 650px;
  }
  .process #vimeo {
    width: 700px;
    height: 390px;
  }
  .services {
    padding: 50px 0;
  }
  .services__content__block h4 {
    padding: 15px 0;
  }
  footer {
    padding: 0 20px;
    font-size: 14px;
  }
  footer .footer__container__list ul {
    margin-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  header .header__container {
    padding: 25px 50px 0 50px;
  }
  header .header__container .navbar__list {
    left: 700px;
  }
  header .header__content {
    margin-top: 50px;
    padding: 0 15px 0;
  }
  header .header__content__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__text {
    text-align: center;
  }
  .about__skills__text #design {
    width: 300px;
  }
  .about__skills__text #design:after {
    width: 201px;
  }
  .about__skills__text #web {
    width: 300px;
  }
  .about__skills__text #web:after {
    width: 258px;
  }
  .about__skills__text #marketing {
    width: 300px;
  }
  .about__skills__text #marketing:after {
    width: 168px;
  }
  .about__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0;
  }
  .about__icons__1 {
    width: 200px;
  }
  .about__images__content__row__img {
    width: 300px;
    height: 200px;
  }
  .process {
    padding: 80px 0;
    height: 100%;
  }
  .process #vimeo {
    width: 380px;
    height: 300px;
  }
  .services {
    height: 100%;
  }
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__content__block {
    margin-top: 50px;
  }
  .testimonials {
    height: 950px;
    position: relative;
  }
  .testimonials__content__dots {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
    margin-top: 50px;
  }
  .testimonials__content__dots__item {
    height: 10px;
    width: 10px;
    margin: 0 2px;
  }
  .testimonials__companies {
    padding: 0 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 100px;
        grid-template-columns: 100px 100px;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    gap: 25px 50px;
        grid-template-areas: ". ." ". .";
  }
  .testimonials__companies img {
    width: 100px;
  }
  .modal {
    width: 400px;
  }
  .modal img {
    width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */